
# Игнорировать зависимости
node_modules/

# Игнорировать файлы сборки/дистрибутива
/dist/
/build/
/out/
dist-ssr
*.local

# Игнорировать файлы IDE
# Editor directories and files
.idea/
.vscode/
.vscode/*
!.vscode/extensions.json
*.iml

# Игнорировать временные файлы ОС
.DS_Store
Thumbs.db

*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?


# Игнорировать временные файлы и логи
# Logs
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-debug.log*
.npm/
.pnpm-store/
.yarn/
logs
*.log
lerna-debug.log*

# Игнорировать скриншоты
*.png
*.jpg
*.jpeg

# Игнорировать файлы локального окружения
.env
.env.local
.env.*.local
